.mobile-nav {
  margin-bottom: auto;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-nav-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.mobile-nav-link.current {
  color: #404bbf;
}

.mobile-address {
  margin-bottom: 48px;
  font-style: normal;
}

.mobile-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-address-link {
  display: block;
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.mobile-address-link.accent {
  color: #4d5ae5;
  font-size: 36px;
  line-height: 1.11;
}

.mobile-social-list {
  display: flex;
  gap: 40px;
}

.mobile-social-item {
  width: 40px;
  height: 40px;
}

.mobile-social-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.mobile-social-icon {
  fill: #f4f4fd;
}